	html,body{
		background: skyblue;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	body{
		position: relative;
		text-align: center;
	}
	.banner{
		width: 130px;
		height: 50px;
		position: absolute;
		top: 20%;
		/*水平居中*/
		left: 50%;
		transform: translate(-50%);
	}
	.main{
		width: 85%;
		margin: 0;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.main p{
		width: 85%;
		text-align: left;
		margin: 0 auto;
	}
	.left{
		float: left;
		position: absolute;
		left: 10%;
		top: 75%;
		text-align: center;
	}
/* 	img::after{
	clear: both;
	display: block;
	content: "";
} */
	.right{
		float: right;
		position: absolute;
		right: 10%;
		top: 75%;
		text-align: center;
	}
	img{
		width: 50px;
	}
	p{
		color: white;
	}
	.icon{
		margin-top: 20px;
		margin-left: 20px;
		width: 35px;
	}